HELP.md
API_TESTING_GUIDE_v2.md
FRONTEND_INTEGRATION_GUIDE_v2.md
PROYECTO_GOMIPETS.md
gomipets-api.json
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### archivos generales
.sql
.rar
src_main_resources_gomitasAdmin_src_components_ClientFormModal.vue
src/main/resources/gomitasAdmin/
src/main/resources/static/
src/main/resources/db
src/main/resources/templates/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### gomipets ###
gomipets/pom.xml

